h1{
  color: #66BFBF;
}
h3{
  color: coral;
}
body{
  background-color: #87DFD6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
